# =========================
# ML artifacts (do not track)
# =========================
ml/models/
ml/data/
models/
data/

# Serialized ML models
*.pkl
*.joblib
*.h5
*.bin

# Python cache
__pycache__/
.ipynb_checkpoints/
*.pyc

# Virtual Environment & Node
node_modules/
ml-venv/
.env

# Logs & Builds
*.log
coverage/
dist/
build/
